// 重置 iconfont 的颜色样式
g {
  fill: inherit !important 
}
path { 
  fill: inherit !important 
}

// 重置浏览器默认样式
*,
*:before,
*:after {
  box-sizing: border-box;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  outline: none;
}
div:focus{
  outline: none;
}

// 自定义常用 class
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 表格滚动
.table-scroll {
  .scroll-content {
    display: inline-block;
    min-width: 100%;
  }
}